<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce Store</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url("./login_page.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }

      .home-content {
        color: rgb(252, 247, 247);
        text-align: center;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .home-content h2 {
        font-size: 36px;
        margin-bottom: 20px;
      }

      .home-content p {
        font-size: 18px;
        margin: 30px 30px;
        text-align: center;
      }

      .cta-button {
        text-decoration: none;
        background-color: #bbbbbb;
        color: #0b0b0b;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      }

      .cta-button:hover {
        color: aliceblue;
        background: rgb(0, 212, 255);
        background: linear-gradient(
          90deg,
          rgba(0, 212, 255, 1) 0%,
          rgba(67, 67, 71, 1) 0%,
          rgba(172, 172, 180, 1) 100%
        );
      }
    </style>
  </head>

  <body>
    <%- include('../partials/header.ejs',{username:username}) %>
    <div class="home-content">
      <h2>Welcome to Your E-Commerce Store</h2>
      <a class="cta-button" href="/products">Shop now</a>
    </div>
  </body>
</html>
